body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#1C1D29 ;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

}

.wrapper {
  display: grid;
  background-color: #191919;
  min-height: 60vh;
  border-radius: 18px;
  max-width: 260px;
}

.input {
  font-family: 'Rubik', sans-serif;
  display: flex;
  margin-top: 190px;
  width: 250px;
  border: none;
  outline: none;
  height: 50px;
  background-color: #191919;
  cursor: text;
  text-align: right;
  font-size: 26px;
  color: white;
}

.btns {
  display: grid;
  grid-template-columns: 65px 65px 65px 65px;
  height: 270px;


  .btn {
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-family: 'Rubik', sans-serif;
    background-color:transparent ;
    color: white;

  }

  .btn:hover{
    font-size: 16px;
  }
  .last-btn {

    display: grid;
    grid-template-columns: 65px 65px 65px 65px;
  }

  .eval{
    background-color: #FF7433;
    border-radius:100%;
    font-size: 20px;
  }
  .eval:hover{
    font-size: 21px;
    background: rgb(255,160,51);
    background: linear-gradient(90deg, rgba(255,160,51,1) 0%, rgba(255,198,51,1) 35%, rgba(255,194,51,1) 100%); 
    transition: background 0.5s ease;
    color:black;
  }
  .orange-btn{
    color: #FF7433;
  }
}